@page "/RawData"
@using Metrics.Core
@using Metrics.Model.Enum
@using Metrics.Static.Components
@inherits RawDataBase

The Raw Data

<div class="row">
    <div class="col">
        <div class="card-group">
            <div class="card card-body">
                <h5 class="card-title">Select Type</h5>
                <MatAutocompleteList FullWidth="false" Id="Type" Items="@Types" Outlined="true" TItem="MetricType" ShowClearButton="true" Label="Select Type" @bind-Value="@SelectedType"></MatAutocompleteList>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card-group">
            <div class="card card-body">
                <h5 class="card-title">Select Offset</h5>
                <MatDatePicker FullWidth="false" Id="Type" Outlined="true" ShowClearButton="true" Label="Select Offset" @bind-Value="@SelectedOffsetDate"></MatDatePicker>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card-group">
            <div class="card card-body">
                <button class="btn btn-primary" type="button" @onclick="@(async () => await Refresh())"><span class="oi oi-reload"></span> Refresh</button>
            </div>
        </div>
    </div>
</div>

@if (data != null)
{
    <table border="1" cellpadding="5">
        <tr>
            <td>Date</td>
            <td>Type</td>
            <td>Value</td>
        </tr>
        @foreach (var item in data)
        {
            <tr>
                <td>@item.Date.Value.ToString("dd/MM/yy HH:mm")</td>
                <td>@item.Type</td>
                <td>@item.Value</td>
                <td><button @onclick="@(async () => await Delete(item.id))">Delete</button></td>
            </tr>
        }
    </table>
}
